@model ERP.Models.Staff //

<h2>Add Staff</h2> <!--Page title -->

<form asp-action="Create" method="post"> <!--form that sends entered data to the create action in HC-->

    <label>Name</label> <!-- label for name field-->

    <input asp-for="Name" class="form-control" /> <!-- Input box bound to Staff.Name property -->


    <label>Age</label> 
    <input asp-for="Age" class="form-control" />


    <label>Phone</label>
    <input asp-for="PhoneNumber" class="form-control" />


    <button type="submit" class="btn btn-primary mt-2">
        <!-- Button that submits the form data to the server -->
        Save
    </button>

</form>
