@model ERP.Models.Staff

<div class="container-xxl flex-grow-1 container-p-y">
    <h2>Edit Staff</h2>

    <form asp-action="Edit" method="post">
        <input asp-for="ID" type="hidden" /> <!--sends the staff ID back, so EF knows which row to update.-->

        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger d-block"></span>

        <label>Age</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger d-block"></span>

        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger d-block"></span>

        <label>Income</label>
        <input asp-for="income" class="form-control" />
        <span asp-validation-for="income" class="text-danger d-block"></span>

        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>

        <a asp-action="Staff" class="btn btn-secondary mt-2">Cancel</a>
    </form>
</div>